@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --clr-primary: #ff0f7b;
  --clr-secondary: #f89b29;

  --clr-black: #111111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: var(--clr-black);
}

h1 {
  color: var(--clr-secondary);
}
#page-container {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  display: grid;
  place-items: center;
}
.container {
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.book-header {
  text-align: center;
  padding-bottom: 20px;
}
.book-main {
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  min-height: 139px;
}
.book-main > ul {
  list-style-type: none;
  display: grid;
  gap: 5px;
}
.book-item {
  background-color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.book-item-info > h3 {
  padding-bottom: 5px;
}
.book-item > button {
  background-color: transparent;
  align-self: center;
  border: 0;
  cursor: pointer;
}
.trash-icon {
  width: 16px;
}
.book-footer {
  padding-top: 20px;
}
.form {
  display: flex;
  gap: 10px;
}
.form > input {
  text-indent: 15px;
  padding-block: 4px;
  border-radius: 30px;
  border: 2px solid var(--clr-primary);
}
.save-icon {
  width: 18px;
  fill: white;
}
#form-submit {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  padding-inline: 6px;
  cursor: pointer;
}
.book-main > p {
  color: white;
  padding-left: 5px;
}
